.UserDetails-header {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
}
.User-info-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.User-info-heading {
  font-weight: bold;
  margin-top: 1%;
}
